#biography {
    color: #403E3D;
}

#home {
    color: #403E3D;
}
.home-section {
    /* border: 3px solid red; */
    width: 100%;
    height: 100vh;
    margin-left: 6rem;
    /* margin-right: 6rem; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.top-section {
    width: 30%;
    display: flex;
    align-items: flex-end;
    padding-bottom: 6px;
    justify-content: flex-start;
    /* border: 3px solid red; */
}
#theme-image{
    width: 40%;
    margin-right: 4px;
    border-radius: 5px;
    padding: 1px;
    border: 2px solid #C3B4B1;
}
h2 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: #403E3D;
    font-weight: 700;
    width: 7%;
    font-size: 46px;
    margin-bottom: 0;
    /* border: 3px solid red; */
}
h2:hover{
    content: 'hello';
}
h4 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: #403E3D;
}
h6 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 15px;
}
.three-main-things {
    /* border: 3px solid red; */
    width: 15%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.number {
    width: 5rem;
    margin-bottom: -10px;
}
.number:hover {
    cursor: pointer;
}

#thing-1 {
    display: none;
}
/* #thing-1:{
    transition: .5s;
} */
.thing-section {
    display: flex;
    width: 14rem;
    flex-direction: row;
    align-items: center;
    /* border: 3px solid red; */
}
#thing-2 {
    display: none;
}
#thing-3 {
    display: none;
}
.thing-container {
    width: 50px;
}
.things {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: #403E3D;
    font-size: 34px;
}
.bottom-half {
    /* border: 4px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 80%;
    
}
.story-emojis {
    width: 60%;
    height: 60%;
    border: 2px solid #C3B4B1;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#wife-emoji {
    display: none;
}
#cat-emoji {
    display: none;
}
#programming-emoji {
    display: none;
}
.answers {
    font-size: 18px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: #F7F9F7;
    width: 12rem;
}
.emoji-container {
    width: 9rem;
}
.thing-container {
    width: 9rem;
}
#container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #C96B6B; */
    height: 100%;
    flex-grow: 1;
}
#container2 {
    display: flex;
    /* background-color: #5D8FCC; */
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
#container3 {
    display: flex;
    /* background-color: #4B6A91; */
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-grow: 1;
}
.story-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    padding: 2px;
    border: 2px solid #C3B4B1;
    margin-right: 2px;
    margin-left: 2px;
    opacity: 80%;
}
.stories-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* border: 3px solid red; */
    width: 70%;
    margin-right: 3rem;
    margin-left: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.top-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #C3B4B1;
}
.pointer-emoji {
    margin-top: 0;
    font-size: 80px;
    margin-left: 1rem;
    margin-right: 1rem;
}
.pointer-container{
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
}

.description {
    /* border: 3px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
}
.guess {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    /* border: 3px solid red; */
}

.guess-text {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: #403E3D;
    font-size: 12px;
    margin-top: 0;
}